.container{
    position : relative;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: grey;
    border-width: 2px;
    padding: 10px;
    margin-top: 50px;
    width: 300px;
    height: 60px;
}
.label{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align: center;
    height: 30px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    top: -19px;
    left: 10px;
}
.content{
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.button{
    height: 100%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.input{
    padding: 0;
    margin: 0;
    height: 26px;
    width: 25%;
}